<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301938801516-m0h0in8b7jdngt9j0ucupvsfa5h48vqb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301938801516-m0h0in8b7jdngt9j0ucupvsfa5h48vqb</string>
	<key>API_KEY</key>
	<string>AIzaSyAuhEOM76Zd5fz50w037TQXulReJu9p22Y</string>
	<key>GCM_SENDER_ID</key>
	<string>301938801516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.fitbook.fitbook</string>
	<key>PROJECT_ID</key>
	<string>rn-fitbook</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-fitbook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301938801516:ios:55c56b3359ba92563fd149</string>
	<key>DATABASE_URL</key>
	<string>https://rn-fitbook.firebaseio.com</string>
</dict>
</plist>